
@font-face {
    font-family: 'Caption';
    src: local('PT Sans Caption'), local('PTSans-Caption'), url('../fonts/ptsanscaption.woff2') format('woff2'), url('../fonts/ptsanscaption.woff') format('woff') ;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CaptionBold';
    src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'), url('../fonts/ptsanscaptionbold.woff2') format('woff2'), url('../fonts/ptsanscaptionbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
*{
    font-family: Caption;
}
h1,h2,h3{
 font-family: CaptionBold;
}