.icon-instagram {
  background-image: url(../png/sprite.png);
  background-position: 0px 0px;
  width: 35px;
  height: 35px;
  display: block;
}
.icon-telegram {
  background-image: url(../png/sprite.png);
  background-position: -35px 0px;
  width: 35px;
  height: 35px;
  display: block;
}
.icon-whats {
  background-image: url(../png/sprite.png);
  background-position: 0px -35px;
  width: 35px;
  height: 35px;
  display: block;
}
